@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management System</h1>
    <p class="lead">The Employee Management System allows you to look up, create, edit and delete employees.</p>
    <p><a href="@Url.Action("Index","Employees")" class="btn btn-primary btn-lg">View Employees &raquo;</a></p>
</div>

